# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Build
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
packages/

# IDE
.idea/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
Thumbs.db
.DS_Store
*.stackdump

# User-specific
*.user
*.userosscache
*.sln.docstates
